---
export const title = "ドラッグ移動";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div {...Astro.props}>
  <div
    id="drag-to-region-box"
    style="position: relative; width: 100%; height: 100%;"
  >
    <!-- ゴースト。ポインターの位置よって配置が代わります。 -->
    <div
      id="drag-to-region-pointer-ghost"
      style="position: absolute; top: 0; left: 0; opacity: 0; z-index: -1; width: 4rem; height: 4rem; margin: 0;"
    >
    </div>
    <!-- ユーザに見えているブロック。ポインターに追従します。 -->
    <div
      id="drag-to-region-pointer"
      style="position: absolute; top: 0; left: 0; opacity: 1; z-index: 10; touch-action: none; width: 4rem; height: 4rem; margin: 0; background-color: cadetblue"
    >
    </div>
    <!-- ドラッグエリア（リージョン） -->
    <div
      style="position: absolute; top: 0; left: 50%; transform-x: -50%; z-index: 5; display:flex; width: 50%; height: 100%; margin: 0; border: 1rem lightgray dashed;"
    >
      <div
        id="drag-to-region-region"
        style="width: 100%; height: auto; margin: 0;"
      >
        <!-- ここにゴーストが配置されます。 -->
      </div>
    </div>
  </div>
</div>

<script>
  import {
    CenterAlignedPosition,
    ClockComposer,
    DefaultSimulatorService,
    DomPhysics,
    DomSource,
    DomVisualizer,
    GateConditionalVector,
    PositionKinetics,
    KineticsTransitionObserver,
    PositionInRegionGate,
    PrimaryPointerDownGateClock,
    PrimaryPointerPositionClock,
    SpringEngine,
    DirectEngine,
    Kinetics,
    VectorAdapter,
  } from "@yyyoichi/chrono-kinesis";

  // 1. ドラッグ開始
  // 2. ドラッグ中->ポインターをドラッグ位置に追従させる
  // 3. ポインターがリージョンを跨いだらゴーストを移動させる
  // 4. ドロップ終了->ゴースト位置にポインターを移動させる

  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const boxEl = document.getElementById("drag-to-region-box")!;
  const pointerEl = document.getElementById("drag-to-region-pointer")!;
  const pointerSource = new DomSource(pointerEl);
  const ghostEl = document.getElementById("drag-to-region-pointer-ghost")!;
  const ghostSource = new DomSource(ghostEl);

  const downGateClock = new PrimaryPointerDownGateClock(pointerEl);
  const pointerPositionClock = new PrimaryPointerPositionClock(boxEl, {
    gate: downGateClock,
    initPosition: downGateClock,
  });

  const target = new GateConditionalVector(
    downGateClock,
    new CenterAlignedPosition(pointerPositionClock, pointerSource),
    ghostSource, // ドラッグしていないときはゴーストの位置をターゲットとします。
  );
  // ポインターに追従するシミュレーション。
  simulation.add({
    clock: new ClockComposer(downGateClock, pointerPositionClock),
    target: target,
    kinetics: new PositionKinetics(target.vector(), {
      engine: new SpringEngine({ settleMs: 800, zeta: 0.7 }),
    }),
    physics: new DomPhysics(pointerSource, new DomVisualizer()),
  });

  // ゴースト位置をトグルします。
  const regionEl = document.getElementById("drag-to-region-region")!;
  const regionSource = new DomSource(regionEl);
  const inRegionGate = new PositionInRegionGate(
    pointerPositionClock, // ポインターの位置が、
    // リージョン内にあるかどうかを判定するゲートです。
    regionSource,
    regionSource,
  );
  const regionKinetics = new Kinetics([inRegionGate.gate], {
    engine: new DirectEngine(),
  });
  const regionObserver = new KineticsTransitionObserver(regionKinetics);
  simulation.add({
    clock: pointerPositionClock,
    target: new VectorAdapter(inRegionGate), // ゲートを直接ベクトルとして扱います。
    kinetics: regionKinetics,
    physics: [],
    phaseObservers: [regionObserver],
  });
  // リージョンの内外でゴーストの親要素を切り替えます。
  regionObserver.subscribe("start", () => {
    if (inRegionGate.gate) {
      // 元の親から外してregionSourceの子にする
      regionEl.appendChild(ghostEl);
    } else {
      // リージョン外に出たら再びboxElの子にします。
      boxEl.appendChild(ghostEl);
    }
  });

  simulation.run();

  window.addEventListener("beforeunload", () => {
    simulation.destroy();
  });
</script>
