---
export const title = "ドラッグ";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div id="drag-pointer-container" {...Astro.props}>
  <div
    id="drag-box"
    style="touch-action: none; width: 4rem; height: 4rem; background-color: cadetblue"
  >
  </div>
</div>

<script>
  import {
    CenterAlignedPosition,
    ClockComposer,
    DefaultSimulatorService,
    ElementPhysics,
    ElementRect,
    GateConditionalVector,
    Kinetics,
    PrimaryPointerDownGateClock,
    PrimaryPointerPositionClock,
    SpringEngine,
    WindowResizeTriggerClock,
  } from "@yyyoichi/chrono-kinesis";

  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const boxEl = document.getElementById("drag-box")!;

  // pointerElをpointerdownを監視します。
  const pointerDownGateClock = new PrimaryPointerDownGateClock(boxEl);
  // gateが1にときのみpointerの位置を追跡します。
  const pointerPositionClock = new PrimaryPointerPositionClock(
    document.getElementById("drag-pointer-container")!,
    {
      gate: pointerDownGateClock,
      initPosition: pointerDownGateClock,
    },
  );

  const boxRect = new ElementRect(boxEl, {
    trigger: new WindowResizeTriggerClock(),
  });
  // ドラッグ中はpointer位置をターゲットとして、ドラッグしていないときは初期位置をターゲットとするベクトルです。
  const target = new GateConditionalVector(
    pointerDownGateClock,
    // ドラッグが開始されればPointerの位置をターゲットとします。
    // pointerPositionClockの位置をpointerDomの中心にオフセットするために使用します。
    new CenterAlignedPosition(pointerPositionClock, boxRect),
    // ドラッグが開始されていなければ初期位置をターゲットとします。
    boxRect,
  );
  simulation.add({
    // いずれかがトリガーしている間はアクティブです。
    clock: new ClockComposer(pointerDownGateClock, pointerPositionClock),
    target: target,
    kinetics: new Kinetics(target.vector(), {
      engine: new SpringEngine({ settleMs: 800, zeta: 0.7 }),
    }),
    physics: new ElementPhysics(boxEl),
  });
  simulation.run();
</script>
