---
export const title = "ドラッグ移動";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div {...Astro.props}>
  <div
    id="drag-to-region-container"
    style="position: relative; display: flex; justify-content: flex-end; width: 100%; height: 100%; touch-action: none;"
  >
    <!-- ドラッグされるボックス  -->
    <div
      id="drag-to-region-box"
      style="position: absolute; top: 0; left: 0; width: 4rem; height: 4rem; margin: 0; touch-action: none; background-color: cadetblue;"
    >
    </div>
    <!-- ドラッグエリア（リージョン） -->
    <div
      style="width: 50%; height: 100%; margin: 0; border: 1rem lightgray dashed;"
    >
      <div
        id="drag-to-region-region"
        style="position: relative; width: 100%; height: 100%; margin: 0;"
      >
        <!-- ここにボックスが配置されます。 -->
      </div>
    </div>
  </div>
</div>

<script>
  import {
    CenterAlignedPosition,
    ClockComposer,
    DefaultSimulatorService,
    DomPhysics,
    DomSource,
    DomVisualizer,
    GateConditionalVector,
    PositionInRegionGate,
    PrimaryPointerDownGateClock,
    PrimaryPointerPositionClock,
    SpringEngine,
    TeleportKinetics,
    ElementRect,
    ParentSwitchedRect,
    WindowResizeTriggerClock,
  } from "@yyyoichi/chrono-kinesis";

  // 1. ドラッグ開始
  // 2. ドラッグ中->ボックスをドラッグ座標に追従させる
  // 3. ポインターがリージョンを跨いだらボックスを移動（appendChild）させる
  // 4. ドロップ終了->本来のボックスの描画座標（padding-box）に移動させる

  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const containerEl = document.getElementById("drag-to-region-container")!;
  const regionEl = document.getElementById("drag-to-region-region")!;
  const boxEl = document.getElementById("drag-to-region-box")!;
  const windoowResizeTriggerClock = new WindowResizeTriggerClock();
  const regionPosition = new ElementRect(regionEl, {
    space: "padding-box",
    trigger: windoowResizeTriggerClock,
  });
  const downGateClock = new PrimaryPointerDownGateClock(boxEl);
  const pointerPositionClock = new PrimaryPointerPositionClock(containerEl, {
    gate: downGateClock,
    initPosition: downGateClock,
  });
  const inRegionGate = new PositionInRegionGate(
    pointerPositionClock, // ポインターの位置が、
    // リージョン内にあるかどうかを判定するゲートです。
    regionPosition,
    regionPosition,
  );
  const boxRect = new ParentSwitchedRect(
    boxEl,
    inRegionGate,
    regionEl,
    containerEl,
    { space: "padding-box" },
  );

  // ポインターに追従するシミュレーション。
  simulation.add({
    clock: new ClockComposer(
      downGateClock,
      pointerPositionClock,
      new WindowResizeTriggerClock(),
    ),
    target: new GateConditionalVector(
      downGateClock,
      new CenterAlignedPosition(pointerPositionClock, boxRect),
      boxRect,
    ),
    kinetics: new TeleportKinetics(boxRect, {
      engine: new SpringEngine({ settleMs: 800, zeta: 0.7 }),
    }),
    physics: new DomPhysics(new DomSource(boxEl), new DomVisualizer()),
  });
  simulation.run();

  window.addEventListener("beforeunload", () => {
    simulation.destroy();
  });
</script>
