---
export const title = "アニメーションDOM追従";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div id="mouse-snake-container" {...Astro.props}>
  <div
    id="mouse-snake-box"
    style="width: 1rem; height: 1rem; background-color: cadetblue; margin-top: 0;"
  >
  </div>
</div>

<script>
  import {
    DefaultSimulatorService,
    ElementPhysics,
    ElementRect,
    Kinetics,
    MousePositionClock,
    SpringEngine,
    WindowResizeTriggerClock,
    type VectorReadablePort,
  } from "@yyyoichi/chrono-kinesis";
  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const containerEl = document.getElementById("mouse-snake-container")!;
  const boxEl = document.getElementById("mouse-snake-box")!;

  const windowResizeTrigger = new WindowResizeTriggerClock();
  const mousePositionClock = new MousePositionClock(containerEl);
  const pointer = new ElementRect(boxEl, {
    trigger: windowResizeTrigger,
  });
  const engine = new SpringEngine({ settleMs: 400, zeta: 0.7 });
  const kinetics = new Kinetics(pointer.position(), { engine: engine });

  simulation.add({
    clock: mousePositionClock,
    target: mousePositionClock,
    kinetics: kinetics,
    physics: new ElementPhysics(boxEl),
  });

  let target: VectorReadablePort = kinetics;
  for (let i = 1; i <= 5; i++) {
    const cloneEl = boxEl.cloneNode(true) as HTMLElement;
    cloneEl.removeAttribute("id");
    cloneEl.style.opacity = `${1 - 0.1 * i}`;
    containerEl.appendChild(cloneEl);

    const cloneRect = new ElementRect(cloneEl, {
      trigger: windowResizeTrigger,
    });
    const cloneKinetics = new Kinetics(cloneRect.position(), {
      engine: engine.clone({ settleMs: 400 - i * 10 }),
    });
    simulation.add({
      clock: mousePositionClock,
      target: target,
      kinetics: cloneKinetics,
      physics: new ElementPhysics(cloneEl),
    });
    target = cloneKinetics;
  }
  simulation.run();
</script>
