---
export const title = "アニメーションDOM追従";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div id="mouse-snake-container" {...Astro.props}>
  <div
    id="mouse-snake-box"
    style="width: 1rem; height: 1rem; background-color: cadetblue; margin-top: 0;"
  >
  </div>
</div>

<script>
  import {
    ClockComposer,
    DefaultSimulatorService,
    ElementPhysics,
    ElementRect,
    PrimaryPointerPositionClock,
    SpringEngine,
    TeleportKinetics,
    VectorComposer,
    WindowResizeTriggerClock,
    type VectorReadablePort,
  } from "@yyyoichi/chrono-kinesis";
  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const containerEl = document.getElementById("mouse-snake-container")!;
  const boxEl = document.getElementById("mouse-snake-box")!;

  const windowResizeTrigger = new WindowResizeTriggerClock();
  const boxRect = new ElementRect(boxEl, {
    trigger: windowResizeTrigger,
  });
  const pointerPositionClock = new PrimaryPointerPositionClock(containerEl, {
    initPosition: boxRect,
  });
  const engine = new SpringEngine({ settleMs: 400, zeta: 0.7 });
  const kinetics = new TeleportKinetics(boxRect, { engine: engine });
  const clock = new ClockComposer(pointerPositionClock, windowResizeTrigger);

  simulation.add({
    clock: clock,
    target: new VectorComposer(pointerPositionClock, boxRect),
    kinetics: kinetics,
    physics: new ElementPhysics(boxEl),
  });

  let target: VectorReadablePort = kinetics;
  for (let i = 1; i <= 5; i++) {
    const cloneEl = boxEl.cloneNode(true) as HTMLElement;
    cloneEl.removeAttribute("id");
    cloneEl.style.opacity = `${1 - 0.1 * i}`;
    containerEl.appendChild(cloneEl);

    const cloneRect = new ElementRect(cloneEl, {
      trigger: windowResizeTrigger,
    });
    const cloneKinetics = new TeleportKinetics(cloneRect, {
      engine: engine.clone({ settleMs: 400 - i * 10 }),
    });
    simulation.add({
      clock: clock,
      target: new VectorComposer(target, cloneRect),
      kinetics: cloneKinetics,
      physics: new ElementPhysics(cloneEl),
    });
    target = cloneKinetics;
  }
  simulation.run();
</script>
