---
export const title = "マウス追従";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div  id="mouse-hover-box" {...Astro.props}>
  <div id="mouse-hover-pointer" style="width: 1rem; height: 1rem; background-color: cadetblue"></div>
</div>

<script>
  import {DefaultSimulatorService, DomPhysics, DomSource, DomVisualizer, Kinetics, MousePositionClock} from "@yyyoichi/chrono-kinesis"
  const simulation = new DefaultSimulatorService({tickRate: 0.5});
  const mouse = new MousePositionClock(document.getElementById("mouse-hover-box")!);
  const pointer = new DomSource(document.getElementById("mouse-hover-pointer")!);
  simulation.add({
    clock: mouse,
    target: mouse,
    kinetics: new Kinetics(pointer.position()),
    physics: new DomPhysics(pointer, new DomVisualizer())
  });
  simulation.run();
</script>