---
export const title = "マウス追従";
type Props = Omit<astroHTML.JSX.HtmlHTMLAttributes, "id">;
---

<div id="mouse-hover-container" {...Astro.props}>
  <div
    id="mouse-hover-box"
    style="width: 1rem; height: 1rem; background-color: cadetblue"
  >
  </div>
</div>

<script>
  import {
    DefaultSimulatorService,
    ElementPhysics,
    ElementRect,
    Kinetics,
    MousePositionClock,
    WindowResizeTriggerClock,
  } from "@yyyoichi/chrono-kinesis";
  const simulation = new DefaultSimulatorService({ fixedStepSec: 1 / 20 });

  const mousePositionClock = new MousePositionClock(
    document.getElementById("mouse-hover-container")!,
  );
  const boxEl = document.getElementById("mouse-hover-box")!;
  const boxRect = new ElementRect(boxEl, {
    trigger: new WindowResizeTriggerClock(),
  });
  simulation.add({
    clock: mousePositionClock,
    target: mousePositionClock,
    kinetics: new Kinetics(boxRect.position()),
    physics: new ElementPhysics(boxEl),
  });
  simulation.run();
</script>
